<!doctype html>
<html ng-app="app" ng-controller="booksController">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>
    <script src="pagination.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>


<h1>Фильтр</h1>
<form novalidate ng-submit="fillTable(1)" method="GET">
    <div class="form-group">
        <label for="title">Название товара</label>
        <input type="text" class="form-control" id="title" name="titlePart"
               ng-model="form.titlePart"
               ng-value="{{param.titlePart != null ? param.titlePart : null}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="minPrice">Минимальная цена</label>
            <input type="number" class="form-control" id="minPrice" name="minPrice"
                   ng-model="form.minPrice">
        </div>
        <div class="form-group col-md-6">
            <label for="maxPrice">Максимальная цена</label>
            <input type="number" class="form-control" id="maxPrice" name="maxPrice"
                   ng-model="form.maxPrice">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Применить</button>
</form>

<h1>Книги:</h1>
<table class="table table-hover" cellpadding="0" cellspacing="0">
    <tr>
        <td>Название</td>
        <td>Жанр</td>
        <td>Описание</td>
        <td>Цена</td>
        <td>Год издания</td>
    </tr>
    <tbody>
    <tr ng-repeat="b in BooksList">
        <td>{{b.title}}</td>
        <td>{{b.genre}}</td>
        <td>{{b.description}}</td>
        <td>{{b.price}}</td>
        <td>{{b.publishYear}}</td>
    </tr>
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" ng-click="fillPrevious()">Previous</a></li>
        <li class="page-item"><a class="page-link" ng-click="fillTable(1)">1</a></li>
        <li class="page-item"><a class="page-link" ng-click="fillTable(2)">2</a></li>
        <li class="page-item"><a class="page-link" ng-click="fillTable(3)">3</a></li>
        <li class="page-item"><a class="page-link" ng-click="fillNext()">Next</a></li>
    </ul>
</nav>

<form novalidate ng-submit="submitCreateNewBook()">
    <div class="card">
        <div class="card-body">
            <div>
                <label for="newBookTitle">Название</label>
                <input type="text" ng-model="newBook.title" id="newBookTitle">
            </div>
            <div>
                <label for="newBookGenre">Жанр</label>
                <input type="text" value="FANTASY" ng-model="newBook.genre" id="newBookGenre">
            </div>
            <div>
                <label for="newBookDescription">Описание</label>
                <input type="text" ng-model="newBook.description" id="newBookDescription">
            </div>
            <div>
                <label for="newBookPrice">Цена</label>
                <input type="number" ng-model="newBook.price" id="newBookPrice">
            </div>
            <div>
                <label for="newBookPublishYear">Год издания</label>
                <input type="number" ng-model="newBook.publishYear" id="newBookPublishYear">
            </div>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </div>
    </div>

</form>
</body>
</html>